body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  text-align: center;
}

.container {
  margin-top: 100px;
}

h1 {
  font-size: 60px;
}

.normal {
  color: black;
}

.high {
  color: red;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
